version: 2.1

jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:9.4.0

    steps:
      - checkout
      # - run: npm install
      # - run: npm test
