body {
  --main-color: rgb(248, 169, 71);
  --secondary-color: #eee;
}

.nav-list {
  width: 100%;
  overflow: hidden;
}

.tags {
  background-color: var(--main-color);
  padding: .4rem 1rem;
  border-radius: 4px;
  font-family: Open Sans;
  font-size: 1rem;
  color: white;
  margin: .4rem;
  margin-left: 0;
  display: inline-block;
  opacity: .8;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--secondary-color);
}

.nav-item {
  color: var(--main-color);
  padding: 10px;
  padding-bottom: 2rem;
  height: auto;
  opacity: .3;
  width: 100%;
  text-align: center;
}

.nav-item img {
  width: 30px;
}

.nav-item:hover {
  cursor: pointer;
  opacity: .8;
  background-color: white;
}

.business-list {
  height: 70rem;
  overflow: scroll;
}