@media screen and (min-width: 850px) {

  .app {
    width: 850px;
    margin: auto;
  }
}

.business-list-loading {
  text-align: center;
  padding: 20%;
}

.business-list-loading img {
  width: 80px;
  height: 80px;
  opacity: .9;
  animation-name: pulse;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.business-row {
  background-color: white;
  padding: 2rem 2rem;
  border-bottom: .8px solid var(--secondary-color);
  display: flex;
  position: relative;
}

.businss-row:hover {
  cursor: pointer;
}

.business-row:active {
  background-color: #eee;
}

.business-row-col2 .tag-list {
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
}

.business-row-image {
  object-fit: cover;
  width: 11rem;
  height: 95%;
  border-radius: 3px;
  opacity: .8;
}

.business-row-col2 {
  margin-left: 2rem;
}

.business-row-name {
  font-size: 1.8rem;
  margin: .5rem 0;
  padding: 0;
  opacity: .7;
}

.business-row-close {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  opacity: .5;
}

.business-row-distance {
  font-size: 1.5rem;
  opacity: .8;
  margin: 0;
  margin-left: .8rem;
  padding: 0;
}

.business-row-address {
  font-size: 1.5rem;
  opacity: .4;
  margin: .3rem 0;
  padding: 0;
  margin-bottom: 1rem;
}

.business-container {
  position: absolute;
  top: 200px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 90vh;
  z-index: 2;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0px 19px 36px 11px rgba(0,0,0,.3);
}

.hours {
  width: 150px;
}

.hours p {
  padding: 0 10px;
}

.hours h2 {
  margin: .5rem 0;
  margin-top: 2rem;
  opacity: .6;
}

.float-up {
  animation-duration:.6s;
  animation-name: float-up;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes float-up {
  0% {
    top: 500px;
  }

  100% {
    top: 200px;
    opacity: 1;
  }
}

.business-container-row1 {
  display: flex;
}

.business-container-col2 {
  display: relative;
  margin-left: 2rem;
}

.business-container-col2 h2 {
  font-size: 1.8rem;
  opacity: .6;
  margin: 0;
  margin-bottom: 1rem;
}

.business-container-col2 p {
  font-size: 1.4rem;
  margin: .2rem;
  margin-left: 0;
  opacity: .4;
}

.business-container-col2 a {
  color: var(--main-color);
  font-size: 1.5rem;
  opacity: .8;
  margin-top: 1rem;
  text-decoration: underline;
}

.business-container-close {
  opacity: .4;
  font-size: 1.5rem;
}

.business-container-pic {
  border-radius: 5px;
  background-color: #eee;
  opacity: .8;
  object-fit: cover;
  width: 11rem;
  height: 95%;
  border-radius: 3px;
}

.loading {
  text-align: center;
  padding-top: 100px;
}

.back-button-wrapper {
  text-align: left;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.business-container-loading-img {
  width: 100px;
  animation: 1s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }

}

.business-container .tag-list {
  width: 100%;
}

.tag {
  background-color: var(--main-color);
  padding: .4rem 1rem;
  border-radius: 4px;
  font-family: Open Sans;
  font-size: 1.5rem;
  color: white;
  margin: .4rem;
  margin-left: 0;
  display: inline-block;
}

.tag-interactive:hover .tag {
  cursor: pointer;
}

.tag-interactive:not(.tag-interactive--selected) .tag {
  background-color: var(--deselect-color)
}

.business-container-row2 {
  margin: 1rem 0;
}
