html {
  font-size: 55%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 850px) {
  html {
    font-size: 62.5%; 
    padding: 0;
  }

  body {
    padding: 0;
  }
}