html {
  font-size: 85%;
  height: 100%;
  padding: 0 100px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 850px) {
  html {
    font-size: 62.5%; 
    padding: 0;
  }

  body {
    padding: 0;
  }
}