.distance-input {
  transform: scale(2);
  color: black;
}

.fav-icon {
  width: 4rem;
  opacity: .8;
  transform: scale(1.05);
  z-index: 2;
}

.fav-icon:hover {
  cursor: pointer;
}

.fav-icon--deselect {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  opacity: .3;
}

.business-row .fav-icon {
  position: absolute; 
  right: 1rem;
  bottom: 40%;
}

.business-container .fav-icon {
  float: right;
}

.back-button {
  width: 20px;
  margin: 10px;
  margin-left: 0;
  margin-bottom: 2rem;
  opacity: .3;
}

.back-button:hover {
  cursor: pointer;
}

.back-button:active {
  transform: scale(.9);
  opacity: .5;
}
